<header>
</header>
  <nav id="menuNav">
    <a  href="" routerLink="/" routerLinkActive="selectedMenu">Home</a>
    <a  href="" routerLink="/StarWars" routerLinkActive="selectedMenu">StarWars</a>
    <a  href="" routerLink="/Snake" routerLinkActive="selectedMenu">Snake</a>
    <a  href="" routerLink="/Admin" routerLinkActive="selectedMenu">Admin</a>
    <a  href="" routerLink="/Login" routerLinkActive="selectedMenu">Login</a>
    <a  href="" routerLink="/Logout" routerLinkActive="selectedMenu">Logout</a>
  </nav>
  


<main>
  <router-outlet>

  </router-outlet>
</main>
